* {
    padding:0;
    margin:0;
}

html {
    height:200%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: black;
    height:100%;
    overflow-x: hidden;
}


.header {
    position: absolute;
    width:100%;
    height:100%;
}

.spacer {
    position:absolute;
    top:100%;
    height:5%;
    width:100%;
    background-color: black;
}

h1 {
    position:absolute;
    left:0px;
}

#bg1 {
    height:100%;
    width:100%;
    background-image: url("./images/image1.jpg");
    background-size: cover;
    position:absolute;
    left:0px;
}

#bg2 {
    height:100%;
    width:100%;
    background-image: url("./images/image2.jpg");
    background-size: cover;
    position:absolute;
    left:-100%;
}

#bg3 {
    height:100%;
    width:100%;
    background-image: url("./images/image3.jpg");
    background-size: cover;
    position:absolute;
    left:-100%;
}

#bg4 {
    height:100%;
    width:100%;
    background-image: url("./images/image4.jpg");
    background-size: cover;
    position:absolute;
    left:-100%;
}

h2 {
    height:100%;
    width:100%;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    z-index:100;
    text-shadow: #FC0 1px 1px 1px;
}

.map {
    position:absolute;
    top:105%;
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/ocean2.jpg");
    background-size: cover;
}

.map .label {
    position:absolute;
    width:100%;
    height:5%;
    top:0%;

    display:flex;
    justify-content: center;
    align-items:end;

    color: black;
    text-shadow: #FC0 1px 1px 1px;
    font-size: 2rem;

    z-index: 10;
    pointer-events: none;
}

.map .svg {
    position:absolute;
    width:100%;
    height:100%;
    top:0%;

    display:flex;
    justify-content: center;
    align-items: center;
}

#Castilla, #Andalusia, #Murcia, #Valencia, #Catalonia, #Extremadura, #Madrid, #Aragon, #Rioja, #Navarre, #Basque, #Cantabria, #Asturias, #Galicia, #Castille {
    fill:white;
}

.new-element {
    font-size: 5rem;
    z-index: 1000;
    position:absolute;
    top:175%;
    left:75%;
    translate: -50% -50%;
    border:2px black solid;
    color:black;
    background-color: rgba(255, 255, 255, 0.316);
    box-shadow: 5px 5px 10px black;
    color: black;
    text-shadow: #FC0 1px 1px 1px;
}

.new-element-long {
    font-size: 3rem;
    z-index: 1000;
    position:absolute;
    top:175%;
    left:75%;
    translate: -50% -50%;
    border:2px black solid;
    color:black;
    background-color: rgba(255, 255, 255, 0.316);
    box-shadow: 5px 5px 10px black;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-wrap-mode:nowrap;
    color: black;
    text-shadow: #FC0 1px 1px 1px;
}

.overview-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:200%;
    height:5%;
    left:0%;
    width:20%;
    border: 2px black solid;
    border-radius: 50px;
    color:white;
}

.overview-button:hover {
    background-color: rgba(119, 99, 232, 0.434);
}