* {
    padding:0;
    margin:0;
}

html, body {
    height:100%;
    width:100%;
    /* overflow-x: hidden; */
}

.header {
    height:100%;
    background-color: bisque;
    background-image: url("");
    background-size: cover;
    background-position: center;
}

h2 {
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    position:absolute;
    z-index:100;
    text-shadow: #FC0 1px 1px 1px;
}

.map {
    height:100%;
    background-color: aliceblue;
    top:103%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.geography {
    height:100%;
    background-color: blue;
    top:206%;
}

.geography h1 {
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    height:3%;
    background-color: black;
}